version: '3.8'

services:
  frontend:
    build:
      context: ./frontend
      dockerfile: DockerFile
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    environment:
      - CHOKIDAR_USEPOLLING=true # Helps with hot reload in some environments
    depends_on:
      - backend

  backend:
    build:
      context: ./backend
      dockerfile: DockerFile
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/app
      # Mount user-specified directories
      - ./model:/app/model
      - ./data:/app/data
      - ./run:/app/run
      - ./logs/backend:/app/logs
    env_file:
      - .env
    depends_on:
      - db
      - redis

  worker:
    build:
      context: ./worker
      dockerfile: DockerFile
    volumes:
      - ./worker:/app
      # Mount user-specified directories
      - ./model:/app/model
      - ./data:/app/data
      - ./run:/app/run
      - ./logs/worker:/app/logs
    env_file:
      - .env
    depends_on:
      - db
      - redis

  db:
    image: postgres:15-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./logs/db:/var/log/postgresql
    env_file:
      - .env
    ports:
      - "5432:5432"

  redis:
    image: redis:alpine
    ports:
      - "6379:6379"

volumes:
  postgres_data:
